<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quiz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <main class="min-h-screen flex flex-col gap-8 my-8 mx-2">
        <div class="flex justify-center items-center bg-[#E8DEF8] px-4 py-3">
            <h1 class="font-bold text-center">QUIZ</h1>
        </div>
        <!-- question1 -->
        <div class="flex flex-col gap-2 justify-center items-center">
            <div class="bg-[#E8DEF8] px-4 py-8 w-full rounded-xl">
                <p class="text-center">how motivated are you ?</p>
            </div>
            <input id="slider" type="range" min="0" max="5" value="0"
                class="w-[300px] h-2 bg-red-200 rounded-xl flex items-center justify-center">
        </div>
        <!-- question2 -->
        <div class="flex flex-col gap-4 items-center">
            <div class="bg-[#E8DEF8] px-4 py-8 w-full rounded-xl">
                <p class="text-center">how clear is your mind ?</p>
            </div>
            <input id="slider" type="range" min="0" max="5" value="0"
                class="w-[300px] h-2 bg-red-200 rounded-xl flex items-center justify-center">
        </div>
        <!-- question3 -->
        <div class="flex flex-col gap-4 items-center">
            <div class="bg-[#E8DEF8] px-4 py-8 w-full rounded-xl">
                <p class="text-center">how phisically energized are you ?</p>
            </div>
            <input id="slider" type="range" min="0" max="5" value="0"
                class="w-[300px] h-2 bg-red-200 rounded-xl flex items-center justify-center">
        </div>
        <button class="flex justify-center items-center rounded-xl bg-[#A870BB] py-3 px-4 cursor-pointer">Submit</button>
    </main>
        <nav class="flex gap-6 h-16 px-4 justify-around items-center shadow-[0_-6px_12px_rgba(0,0,0,0.15)] rounded-xl bg-[#E8DEF8] sticky bottom-0">
        <i class="fa-solid fa-house text-2xl"></i>
        <i class="fa-solid fa-clipboard-list text-2xl"></i>
        <i class="fa-solid fa-bell text-2xl"></i>
    </nav>
</body>

</html>