.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-lg;
  margin: $space-lg $space-sm;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: $primary-color;
    border-radius: $radius-md;
    padding: $space-md $space-sm;
    cursor: pointer;
}

.btn--block {
  width: 100%;
}

.main-title{
  font-weight: $font-weight-bold;
  font-size: $title-primary-size;
  font-family: $font-family-base;
    &--center {
    text-align: center;
  }
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 64px;
    border-radius: $radius-lg;
    position: fixed;
    bottom: 0px;
    left: 0px;
    // border-top-left-radius: $radius-md;
    // border-top-right-radius: $radius-md;
    background-color: $secondary-color;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.15);
}

.header-border{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $secondary-color;
  padding: $space-md $space-sm;
}

.task-border{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $secondary-color;
  border-radius: $radius-md;
  padding: $space-md $space-sm;
}